.swagger-ui .opblock .opblock-summary-path-description-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
    padding: 0 10px;
    width: 100%;
}

.swagger-ui .opblock .opblock-summary-path {
    flex-shrink: 1;
}

.swagger-ui .opblock-control-arrow {
    background: none;
    border: none;
    text-align: center;
}

.swagger-ui .opblock .opblock-summary:hover .view-line-link.copy-to-clipboard {
    width: 24px;
}

.swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard {
    height: 26px;
    position: static;
}